<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<link rel="icon" href="team images\logo.png">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <title>The Erudite - Posts</title>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
<style>
body {
  background-color: #b4f2e1;
}
#btnScrollToTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#32e0c4;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #fff ;
  border: none;
  outline: none;
  cursor: pointer;
}
h2 {
  font-family: "Montserrat";
}
h4 {
  font-family: "Montserrat";

}

h5 {
  font-family: "Montserrat";
  padding-bottom: 3%;
}

img{
  width:100%;
  height: 450px;
  padding-bottom: 5%;
}
pre {
  font-size: 1rem;
  text-align: justify;
    white-space: pre-line;
    word-wrap: break-word;
}
@media only screen and (max-width: 600px) {

  h2{
    font-size: 2rem;
  }
  h4{
    font-size: 1.2rem;
  }
  h5{
    font-size: 0.75rem;
  }
  pre {
    font-size: 1rem;
    text-align: justify;
      white-space: pre-line;
      word-wrap: break-word;
  }
img{
  height: 40%;
}
}


.content {
  text-align: justify;
  font-family: 'Merriweather', serif;
}

.container {
  padding: 3% 10% 3% 10%;
  border-radius: 15px;
  background-color: white;
}

.post {
  padding: 7% 0;
}
@media only screen and (max-width: 600px) {
  .container{
    padding: 2% 7% 2% 7%;
  }
  .post{
    padding: 7% 5%;
  }
}


.Footer-section {
  font-family: 'Merriweather', serif;
  background-color: #222831;
  color: white;
  text-align: center;
  padding: 3% 15%;
}

.social {
  margin: 10px 20px;
}
i:hover{
  color: #b4f2e1;
}
i{
  color: white;
}


</style>




</head>

  <body>
    <i class="fas fa-arrow-circle-up fa-3x" id="btnScrollToTop"></i>
    <section class="post">
      <div class="container">
        <h2><%= title %></h2>
        <h4><%= author %></h4>
        <em><h5><%= date %></h5></em>
        <img  src="<%= imageLink %>">
        <pre class="content"><%= postContent %></pre>
        <br>
        <p><%= likes %> views</p>




      </div>
    </section>
    <section id="footer" class="Footer-section">
    <a href="https://www.instagram.com/the__erudite/"> <i class="social fab fa-instagram fa-1.5x"></i></a>
        <a href="https://www.facebook.com/The-Erudite-103038314797697/"><i class="social fab fa-facebook-f fa-1.5x"></i></a>
        <a href="https://www.linkedin.com/company/theerudite/about/"><i class="social fab fa-linkedin-in fa-1.5x"></i></a>
        <a href="https://twitter.com/The__Erudite?s=09"><i class="social fab fa-twitter fa-1.5x"></i></a>
      <p class="quote-text-author">© Copyright 2020 The Erudite</p>
      <p class="quote-text-author">Made By : Shambhavi Awasthi and Maulishree Awasthi</p>
    </section>
    <script>
    const btnScrollToTop=document.querySelector("#btnScrollToTop");
    btnScrollToTop.addEventListener("click",function(){
      window.scrollTo({
        top:0,
        left: 0,
        behavior:"smooth"
      });
    });
    </script>
  </body>
</html>
